{% extends 'base.html' %}

{%block title%} News {%endblock%}


{%block content%}
      <form action="{{url_for('mail_news')}}" method="post">
      {%for new in news%}
            <h2>{{new.news}}</h2>
            <img src="{{ url_for('static', filename='css/img/' + new.image) }}" alt="Image">
            {%if current_user.is_authenticated%}
                  {%if current_user.admin == 0%}
                        <button type="submit" name="new" value="{{new.id}}">❌</button>
                  {%endif%}
            {%endif%}
      {%endfor%}
      </form>
{%endblock%}